.dashboard-logo-content{
  background-color: #629FD5;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
}
.material-symbols-outlined{
  color: white;
  display: flex;
  cursor: pointer;
}