  <nav>
    <ul>
      <li>
        <span class="material-symbols-outlined">contract</span>
        <a href="">Contrato</a>
      </li>
      <li>
        <span class="material-symbols-outlined">payments</span>
        <a href="">Faturamento</a>
      </li>
      <li>
        <span class="material-symbols-outlined">apartment</span>
        <a href="">Imóvel</a>
      </li>
      <li>
        <span class="material-symbols-outlined">group</span>
       <a href="">Inquilinos</a>
      </li>
      <li>
        <span class="material-symbols-outlined">person</span>
        <a href="">Proprietários</a>
      </li>
      <li>
        <span class="material-symbols-outlined">badge</span>
        <a href="">Usuário</a>
      </li>
    </ul>
  </nav>
